.center-wrapper {
  text-align: center;
}

.wrap {
	max-width: 640px;
	height: 360px;
	display: block;
	margin: 20px auto 15px;
	position: relative;
}

.image {
	display: block;
	box-shadow: 0 1px 5px rgba(0,0,0,.85),inset 0 0 1px rgba(255,255,255,.35);
	margin: 0 10px;
	border-radius: 5px;
	height: inherit;
}